#app {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  header {
    width: 100%;
    height: 15vh;
    background-color: #545E6E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icon {
      width: 170px;
      height: 170px;
      margin-left: 20px;
      background-color: #8D8276;
      border: 1px solid black;
      border-radius: 50%;
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
  #start {
    width: 100%;
    height: 70vh;
    background: #C0C0C0;
    .start_question {
      display: flex;
      height: 40%;
      .front_page_question {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        .flip-container:hover .flipper, .flip-container.hover .flipper {
        	transform: rotateY(180deg);
        }
        .flip-container {
          min-width: 30vw;
          min-height: 10vh;
        }
        .flipper {
        	transition: 0.6s;
        	transform-style: preserve-3d;
        	position: relative;
        }
        .question {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 30vw;
          min-height: 10vh;
          background-color: #545E6E;
          color: white;
          font-size: 2em;
          text-align: center;
          border: 3px solid white;
          border-radius: 25px;
          margin-top: 10px;
          backface-visibility: hidden;
        	position: absolute;
          z-index: 2;
        	transform: rotateY(0deg);
        }
        .question_back {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 30vw;
          min-height: 10vh;
          background-color: #545E6E;
          color: white;
          font-size: 2em;
          text-align: center;
          border: 3px solid white;
          border-radius: 25px;
          margin-top: 10px;
          backface-visibility: hidden;
        	position: absolute;
          transform: rotateY(180deg);
        }
        .arrow {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 50px solid white;
        }
        .questionMark {
          width: 20vw;
          height: 15vh;
          background-image: url(../images/questionmark.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .archeologist {
        width: 50vw;
        height: 35vh;
        background-image: url(../images//archeologist.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    .middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 60%;
      .title {
        margin: 0;
        width: 90%;
        color: black;
        text-shadow: 3px 3px 0 rgba(black, .5);
        background-color: rgba(white, .7);
        border: 3px solid #545E6E;
        border-radius: 15px;
        letter-spacing: 0.5em;
        font-size: 4em;
        text-align: center;
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4em;
        color: white;
        background-color: #545E6E;
        border-radius: 15px;
        height: 10vh;
        width: 35vw;
        box-shadow: -10px 10px 5px #888888;
        cursor: pointer;
        // &:hover {
        //   font-size: 3em;
        // }
      }
    }
  }

  #category {
    height: 70vh;
    background: #C0C0C0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-image: url(../images/mieszko.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    .right {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      .mieszkoSays {
        background-color: white;
        color: #545E6E;
        font-size: 3em;
        text-align: center;
        border: 3px solid #545E6E;
        width: 50%;
        border-radius: 25px;
      }
    }

    .middle {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .categoryButton {
        margin: 2% 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        text-align: center;
        color: #545E6E;
        background-color: rgba(white, .7);
        border-radius: 15px;
        height: 10vh;
        width: 20vw;
        box-shadow: -10px 10px 5px #888888;
        cursor: pointer;
        &:hover {
          border: 5px solid white;
        }
      }
    }

    .left {
      // height: 100%;
      // width: 30%;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      .info {
        background-color: rgba(white, .7);
        color: #545E6E;
        font-size: 2em;
        text-align: center;
        border: 3px solid #545E6E;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        ul {
          li {
            text-align: justify;
          }
        }
      }
    }
  }

  #question {
    height: 70vh;
    background: #C0C0C0;
    display: flex;
    justify-content: space-between;
    .left {
      height: 100%;
      width: 10%;
      display: flex;
      justify-content: center;
      .progressBar {
        background-color: white;
        height: 100%;
        width: 70%;
        border-radius: 5px;
        transform: rotate(180deg);
        span {
          display: inline-block;
          height: 5%;
          width: 100%;
          border-radius: 5px;
          background-color: red;
        }
      }
    }
    .middle {
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 3em;
      }
      .row {
        width: 100%;
        height: 33%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .quizQuestion {
          width: 100%;
          height: 100%;
          border: 5px solid #545E6E;
          border-radius: 15px;
          background-color: #8D8276;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: -5px 5px 5px #888888;
          .text {
            text-align: center;
            color: white;
            text-shadow: 3px 3px 0 rgba(black, .5);
            font-size: 3em;
            font-weight: bold;
          }
        }
        .answer {
          width: 40%;
          height: 60%;
          color: white;
          text-shadow: 3px 3px 0 rgba(black, .5);
          font-size: 2em;
          font-weight: bold;
          border: 5px solid white;
          border-radius: 15px;
          background-color: #545E6E;
          box-shadow: -5px 5px 5px #888888;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

        }
      }
    }
  }

  footer {
    width: 100%;
    height: 15vh;
    background-color: #545E6E;
    display: flex;
    justify-content: center;
    align-items: center;
    .next {
      background-color: #8D8276;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5%;
      border: 5px solid white;
      border-radius: 15px;
      color: white;
      font-size: 3em;
      cursor: pointer;
      text-align: center;
      &:hover {
        box-shadow: -5px 5px black;
      }
    }
  }
}
