#summary {
  height: 70vh;
  display: none;
  justify-content: space-between;
  background: #C0C0C0;
  font-family: 'Alegreya', Arial, sans-serif;
  font-size: 1.5em;
  .left {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .middle {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .rightAnswers{
      .answers {
        display: flex;
        justify-content: space-around;
        .wrong {
          font-weight: bolder;
          color: red;
        }
        .right {
          font-weight: bolder;
          color: green;
        }
      }
    }
  }
  .right {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}
