.container {
  display: flex;
  height: 40%;
  @media (min-width: 1024px) {
    justify-content: center;
  }
}


.archeologist {
  width: 50vw;
  height: 35vh;
  background-image: url(../../public/images/archeologist.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-width: 1024px) {
    height: 30vh;
  }
}
